.ai-image-genius{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 20px;
    gap: 30px;
}

.img-logo{
    margin-top: -40px;
}
.header{
   
    font-size: 70px;
    font-weight: 500;
    /* padding-bottom: 5px; */
   
}

.header span{
    color: var(--mint);
    font-weight: 600;
}

.img-loading{
    display: flex;
    flex-direction: column;
}

.img-loading img{
    border-radius: 15px;
    width: 320px;
}

.search-box{
    
    display: flex;
    width: 900px;
    height: 75px;
    justify-content: space-around;
    /* align-items: center; */
    border-radius: 50px;
    background-color: #1F3540 ;
}

.search-input{
    
    border: 1px solid;  
    width: 900px;
    /* height: 50px; */
    background: transparent;
    border: none;
    outline: none;
    font-size: 18px;
    color: white;
    padding-left: 30px;
    /* margin-right: 300px; */
    
}

.search-input::placeholder{
    color: #999;

}

.generate-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 75px;
    font-size: 20px;
    border-radius: 50px;
    background: var(--mint);
    cursor: pointer;
    color: #1F3540;

}

.made-by{
   
    margin-top: 10px;
}

@media only screen and (max-width: 1200px) {
   .search-box{
        /* border: 1px solid; */
        display: flex;
        flex-direction: column;
        height: 80px;
        width: 85%;
        background-color: none;
        
    }
    .search-input{
        
        margin-bottom: 30px;
        border-radius: 5px;
        margin-top: 30px;
        width: 90%; 

        

    }

    .generate-btn{
       
        width: 220px;
        height: 65px;
        
    }
    .header{
        font-size: 3rem;
        font-weight: 500;
        /* padding-bottom: 30px; */
    }
    .img-loading img{
        border-radius: 15px;
        width: 300px;
    }
  }